
.container {
    text-align: center;/*Comando que ayuda a centar los titulos*/
}

h1{
    color: blue;/* Define el color del titulo del juego*/
}

p{
    color: rgb(255, 0, 0);/* Define el color del texto de los jugadores*/
}


.game-container {
    display: grid;  /*Crea una grilla de forma 3*3*/
    grid-template-columns: repeat(3, auto); /*genera la division de las columnas cada 3 cuadros*/
    width: 306px; /*Se encarga de mantener la grilla unida  de forma  i i i*/
    margin: 50px auto;  /*se encarga de centrar la grilla*/
}

.game-cell {
    width: 100px; /*Define el ancho del cuadro*/
    height: 100px; /* Define la altura del cuadro*/
    box-shadow: 0 0 0 1px #0f182b;  /*Define los colores de los colores de la caja sombra*/
    border: 1px solid #0f182b; /*Define los colores de los bordes*/
    background-color:rgb(146, 136, 130); /*Crea un solido y define el color del mismo con las dimensiones anteriormente mencionadas*/
    cursor: pointer;    
    line-height: 100px; /*define la altura de linea*/
    font-size: 60px; /*Define el taman;o de la fuente de la letra de texto*/
}



